{% load static i18n %}

<nav aria-label="main navigation" class="navbar" role="navigation">
  <div class="navbar-brand">
    <a class="level-item" href="/">
      <img alt="Data Donation Lab Brand" class="custom-brand" id="header-brand-full"
           src="{% static 'ddl/img/ddl_logos/ddl_logo_black.svg' %}">
      <img alt="Data Donation Lab Brand" class="custom-brand is-hidden" id="header-brand-small"
           src="{% static 'ddl/img/ddl_logos/ddl_slider_black.svg' %}">
    </a>

    <a aria-expanded="false" aria-label="menu" class="navbar-burger navbar-burger-custom"
       data-target="navbarBasicExample" id="navbar-burger" role="button">
      <!--<span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>-->
      &#x2630;
    </a>
  </div>

  <div class="navbar-menu" id="navbarBasic">

    <div class="navbar-end">
      {% include 'ddl/components/main_nav_menu.html' %}

      <div class="nav-divider">
        <div></div>
      </div>

      <div class="navbar-item navbar-item-add">
        <a class="nav-addition nav-social-container" href="https://twitter.com/DataDonation" target="_blank">
          <img class="nav-social-logo" src="{% static 'ddl/img/ext_logos/twitter_white.svg' %}">
        </a>
      </div>

      <div class="navbar-item navbar-item-add">
        {% include 'ddl/components/lang_selector.html' %}
      </div>

    </div>
  </div>
</nav>

<div class="modal" id="modal-nav">
  <div class="modal-background"></div>
  <div class="modal-content">
    {% for child in children %}
    <div
        class="modal-nav-item child{% if child.selected %} selected{% endif %}{% if child.ancestor %} ancestor{% endif %}{% if child.sibling %} sibling{% endif %}{% if child.descendant %} descendant{% endif %}">
      <a class="modal-nav-link" href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{
        child.get_menu_title }}</a>
    </div>
    {% endfor %}

    <div class="modal-nav-addition">
      <div class="navbar-item navbar-item-add">
        <a class="nav-addition nav-social-container" href="https://twitter.com/DataDonation" target="_blank">
          <img class="nav-social-logo" src="{% static 'ddl/img/ext_logos/twitter_white.svg' %}">
        </a>
      </div>
      <div class="navbar-item navbar-item-add">
        {% include 'ddl/components/lang_selector.html' %}
      </div>
    </div>
  </div>
  <button aria-label="close" class="modal-close is-large"></button>
</div>
