{% extends "ddl/cms/cms_base.html" %}
{% load static i18n cms_tags menu_tags sekizai_tags %}

{% block main_content %}
<div class="container">
    <div class="columns">
        <div class="column is-one-fifth"></div>
        <div class="column has-text-black">
            {% placeholder "intro" %}
            <div class="columns">
                <div class="column is-4">
                    {% placeholder "head_box_1" %}
                </div>
                <div class="column">
                    {% placeholder "body_box_1" %}
                </div>
            </div>

            <div class="columns">
                <div class="column is-4">
                    {% placeholder "head_box_2" %}
                </div>
                <div class="column">
                    {% placeholder "body_box_2" %}
                </div>
            </div>

            {% placeholder "outro" %}

        </div>
        <div class="column is-one-fifth"></div>
    </div>
</div>
{% endblock main_content %}
