# virtual environments
venv/
venv2/
media/

# environment variables
.env

# pycache
*.py[cod]
__pycache__

# Logs
logs
*.log

# collected static file directory
staticfiles/

# Pycharm
.idea/*

# sqlite database
*.sqlite