DJANGO_SECRET=''
DJANGO_SETTINGS_MODULE=''
ALLOWED_HOSTS='host_one host_two host_three'

# Database
DJANGO_DB_NAME=''
DJANGO_DB_USER=''
DJANGO_DB_PW=''

# Reports
## Instagram Report
INSTAGRAM_PROJECT_PK=''
INSTAGRAM_API_KEY=''
INSTAGRAM_BP_FOLLOWED_ACCOUNTS=''

## Facebook Report
FACEBOOK_PROJECT_PK=''
FACEBOOK_API_KEY=''
FACEBOOK_BP_FOLLOWED_ACCOUNTS=''

## Search Report
SEARCH_PROJECT_PK=''
SEARCH_API_KEY=''

## Digital Meal Report
DIGITALMEAL_PROJECT_PK=''
DIGITALMEAL_API_KEY=''

## ChatGPT Report
CHATGPT_PROJECT_PK=''
CHATGPT_API_KEY=''
