DJANGO_SECRET=''
DJANGO_SETTINGS_MODULE=''

# Database
DJANGO_DB_NAME=''
DJANGO_DB_USER=''
DJANGO_DB_PW=''

DDM_API_TOKEN=''
DDM_BASE_URL=''
DDM_PROJECT_ID=''
DDM_WATCH_BP_ID=''
DDM_SEARCH_BP_ID=''
DDM_FITBIT_PROJECT_ID=''
