.font-blue {
    color: #99b5b3;
}

.background-yellow {
    background: #F5E165;
}
.background-green {
    background: #9BCEA4;
}
.background-blue {
    background: #BFE2E0;
}
.background-purple {
    background: #C8C1E1;
}
.background-orange {
    background: #F7B17B;
}
.background-lightgreen {
    background: #D6E297;
}
