{% load static i18n %}

<nav aria-label="main navigation" class="navbar" role="navigation">
  <div class="navbar-brand">
    <a class="level-item" href="/">
      <img alt="Data Donation Lab Brand" class="custom-brand" id="header-brand-full"
           src="{% static 'ddl/img/logos/ddl/ddl_logo_black.svg' %}">
      <img alt="Data Donation Lab Brand" class="custom-brand is-hidden" id="header-brand-small"
           src="{% static 'ddl/img/logos/ddl/ddl_slider_black.svg' %}">
    </a>

    <a aria-expanded="false" aria-label="menu" class="navbar-burger navbar-burger-custom"
       data-target="navbarBasicExample" id="navbar-burger" role="button">
      &#x2630;
    </a>
  </div>

  <div class="navbar-menu" id="navbarBasic">

    <div class="navbar-end">
      {% include 'ddl/navigation/head_nav.html' %}

      <div class="navbar-item navbar-item-add">
        {% include 'ddl/components/language_selector.html' %}
      </div>

    </div>
  </div>
</nav>

<div class="modal" id="modal-nav">
  <div class="modal-background"></div>
  <div class="modal-content">

    <div class="modal-nav-item child{% if page and page.get_parent.title == 'Root' %} selected{% endif %}">
      <a class="modal-nav-link" href="/{{ request.LANGUAGE_CODE }}/">Home</a>
    </div>
    
    {% if page %}
      {% for  menu_page in page.get_root.get_children.0.get_children.live.in_menu %}
      <div class="modal-nav-item child{% if menu_page.get_url in request.path %} selected{% endif %}">
        <a class="modal-nav-link" href="{{ menu_page.url }}">{{ menu_page.title }}</a>
      </div>
      {% endfor %}
    {% endif %}

    <div class="modal-nav-addition">
      <div class="navbar-item navbar-item-add modal-language">
        {% include 'ddl/components/language_selector.html' %}
      </div>
    </div>
  </div>

  <button aria-label="close" class="modal-close is-large"></button>
</div>
