{% load static wagtail_snippets %}

<div class="columns is-vcentered">
    <div class="column">

    </div>
</div>

<div class="columns is-vcentered">
    <div class="column level-item">
        <a href="https://www.uzh.ch" target="_blank">
            <img src="{% static "mainpage/img/ext_logos/uzh_logo_e_neg.svg" %}" alt="UZH Brand" >
        </a>
    </div>

    <div class="column">
        <a href="https://www.dsi.uzh.ch" target="_blank">
            <img src="{% static "mainpage/img/ext_logos/dsi_name_brand.svg" %}" alt="DSI Brand" >
        </a>
    </div>

    <div class="column">
        <a href="https://www.dizh.ch" target="_blank">
            <img class="img-restricted" src="{% static "mainpage/img/ext_logos/DIZH.png" %}" alt="DIZH Brand" >
        </a>
    </div>
</div>

<div class="columns is-vcentered">
    <div class="column footer-text">
      {% footer %}
    </div>
</div>
