{% extends "ddl/base.html" %}

{% load static %}

{% block title %}Studie Videoplattformen{% endblock %}

{% block main_content %}

<div class="container">
  <div class="columns">
    <div class="column is-1-tablet is-hidden-desktop-only is-2-fullhd"></div>
    <div class="column content has-text-black">
      <h1 style="font-size: 2rem !important;">Willkommen zur Studie «Video&shy;plattformen: Nutzungs&shy;muster & Gesund&shy;heits&shy;verhalten»</h1>
      <p>
        Vielen Dank für Ihr Interesse an dieser Studie, die von Forschenden der Universität Zürich durchgeführt wird.
        Sie wurden von einer befreundeten Person zu dieser Studie eingeladen, die bereits erfolgreich an der Studie teilgenommen hat.
      </p>
      <h3>Ziel der Studie</h3>
      <p>
        Das Ziel dieser Studie ist es, mehr darüber zu erfahren, wie Freundschaftsbeziehungen die Nutzung von Videoplattformen beeinflussen
        und wie Tabak- und Alkoholkonsum mit gesehenen Inhalten auf Videoplattformen zusammenhängen.
      </p>

      <h3>Wer kann mitmachen</h3>
      <p>
        Für diese Studie suchen wir <b>Gruppen von jeweils zwei Personen</b>, die beide bereit sind, einen Fragebogen auszufüllen und
        ihre <b>YouTube- und TikTok-Nutzungsdaten mit uns zu teilen</b>. Die Person, von der Sie eingeladen wurden, hat
        dies bereits erfolgreich getan.
        Zudem sollten Sie die folgenden Voraussetzungen erfüllen:
      </p>
      <ul>
        <li>Sie sind mindestens 16 Jahre alt und in der Schweiz wohnhaft.</li>
        <li>Sie nutzen YouTube und/oder TikTok regelmässig mit einem persönlichen User-Account.</li>
        <li>Sie sind bereit, Ihre YouTube- und/oder TikTok-Nutzungsdaten mit uns anonymisiert zu teilen.</li>
      </ul>


      <h3>Ablauf der Studie</h3>
      <p>
        Zu Beginn der Studie werden Sie einige allgemeine Fragen beantworten, um festzustellen, ob Sie die Voraussetzungen
        zur Studienteilnahme erfüllen. Wenn ja, besteht die Studie anschliessend aus drei Teilen:
      </p>
      <img src="{% static 'ddl/img/VP_ablauf_invited.png' %}" height="250px">
      <p>
        Das anfordern der Nutzungsdaten ist dabei einfach über ein Webformular möglich und wird Ihnen Schritt für
        Schritt erklärt. Der zeitliche Aufwand zur Teilnahme an der Studie beträgt insgesamt ca. 20 bis 30 Minuten.
      </p>


      <h3>Was erhalte ich für meine Teilnahme?</h3>
      <p>
        Für die Teilnahme an der Studie erhalten Sie bis zu <b>20 CHF in Digitec/Galaxus Gutscheinen</b>.
        Zudem erhalten Sie Einblicke, welche Daten Google und TikTok über Sie gespeichert haben und bekommen eine
        <b>personalisierte Auswertung ihrer YouTube-Nutzungsdaten</b>.
      </p>

      <h3>Kontakt</h3>
      <p>
        Die Studie wird von Forschenden der Universität Zürich unter der Leitung von Prof. Dr. Thomas Friemel durchgeführt.
        Bei Fragen wenden Sie sich per E-Mail an <a href="mailto:datadonation@ikmz.uzh.ch">datadonation@ikmz.uzh.ch</a>.
      </p>

      <p>
        Wenn Sie an der Studie teilnehmen möchten, klicken Sie unten auf den Button. Anschliessend werden Sie auf eine Umfrage
        weitergeleitet, wo Sie detailliertere Informationen zum Studienablauf erhalten.
      </p>

      <div style="padding-top:20px; margin-bottom: 50px;">
        <p><a style="border-radius: 5px; background: #009c94; padding: 10px 40px 10px 40px; color: white;" href="https://rq3281.customervoice360.com/uc/vp-1/?{% for key, value in request.GET.items %}{{ key }}={{ value|urlencode }}&{% endfor %}b=1"><b>Zur Studie >></b></a></p> <!-- Codes: Ad-Type / Agree: 0/1 -->
        <!-- <p><a style="border-radius: 5px; background: grey; padding: 10px; color: white;" href="https://rq3281.customervoice360.com/uc/vp-1/?{% for key, value in request.GET.items %}{{ key }}={{ value|urlencode }}&{% endfor %}b=0">Ich möchte <b>nicht</b> teilnehmen</a></p> Codes: Ad-Type / Agree: 0/1 -->
      </div>

    </div>
    <div class="column is-1-tablet is-hidden-desktop-only is-2-fullhd"></div>
  </div>
</div>

{% endblock %}
