{% extends "mainpage/blog/base.html" %}
{% load i18n easy_thumbnails_tags cms_tags %}

{% block canonical_url %}<link rel="canonical" href="{{ meta.url }}"/>{% endblock canonical_url %}
{% block title %}{{ post.get_title }}{% endblock %}

{% block content_blog %}{% spaceless %}

<div class="post-top-nav">
    <a href="{% url 'djangocms_blog:posts-latest' %}">← News</a>
</div>

<article id="post-{{ post.slug }}" class="post-detail post-info">

    <header>
        <h1>{% render_model post "title" %}</h1>
        {% if post.subtitle %}
            <h2>{% render_model post "subtitle" %}</h2>
        {% endif %}

        <div class="post-header-divider">
            <hr>
        </div>

        {% block blog_meta %}
            <p class="post-date-author">
                {% if post.author %}<span class="news-author">{% if post.author.get_full_name %}{{ post.author.get_full_name }}{% else %}{{ post.author }}{% endif %}</span>{% endif %}{% if post.date_published %}, {{ post.date_published|date:"j F Y" }}{% endif %}
            </p>
        {% endblock %}
    </header>

    {% if not post.main_image_id %}
        <div class="blog-visual">{% render_placeholder post.media %}</div>
    {% else %}
    <div class="blog-visual">
        {% thumbnail post.main_image post.full_image_options.size crop=post.full_image_options.crop upscale=post.full_image_options.upscale subject_location=post.main_image.subject_location  as thumb %}
        <img src="{{ thumb.url }}" alt="{{ post.main_image.default_alt_text }}" width="{{ thumb.width }}" height="{{ thumb.height }}" />
    </div>
    {% endif %}

    {% endspaceless %}

    {% if post.app_config.use_placeholder %}
        <div class="blog-content">{% render_placeholder post.content %}▪<hr></div>
    {% else %}
        <div class="blog-content">{% render_model post "post_text" "post_text" "" "safe" %}▪<hr></div>
    {% endif %}

    {% if view.liveblog_enabled %}
        {% include "liveblog/includes/post_detail.html" %}
    {% endif %}

    {% if post.related.exists %}
        <section class="post-detail-list">
            <h3>Related Articles</h3>
            <div class="columns is-flex-wrap-wrap is-justify-content-space-around">
                {% for related in post.related.all %}
                <div class="column is-5 p-0">
                    {% include "mainpage/blog/includes/blog_item.html" with post=related image="true" TRUNCWORDS_COUNT=TRUNCWORDS_COUNT %}
                </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}

</article>
{% endblock content_blog %}
