{% extends "ddl/base.html" %}

{% load wagtailcore_tags %}

{% block main_content %}

<div class="container">
  <div class="columns">
    <div class="column is-1-tablet is-hidden-desktop-only is-1-fullhd"></div>
    <div class="column content has-text-black">
      <h1>{{ page.title }}</h1>
      {{ page.intro|richtext }}
      <form id="cms-form" action="{% pageurl page %}" class="cms-form" method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="{{ page.submit_label }}" class="button is-light">
      </form>
    </div>
    <div class="column is-1-tablet is-hidden-desktop-only is-1-fullhd"></div>
  </div>
</div>
{% endblock %}
