.lang-selection,
.lang-selection:hover {
    font-size: 0.8rem;
    color: white;
    padding-top: 2px;
}

.footer-text {
    text-align: center;
    font-size: 0.8rem;
}

.cms-form {
    padding-left: 30px;
}

.cms-form input[type="text"],
.cms-form input[type="email"],
.cms-form textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid #dbdbdb;
}
.cms-form input[type="text"]:focus,
.cms-form input[type="email"]:focus,
.cms-form textarea:focus {
    outline: none;
    border-color: #d36a45;
    box-shadow: 0 0 0 0.125em rgba(211, 106, 69, 0.25);
}
.cms-form input[type="submit"] {
    width: auto;
    cursor: pointer;
    margin-top: 20px;
}
.cms-form input[type="checkbox"] {

}
.cms-form textarea {
    width: 100%;
}
.cms-form .helptext {
    font-size: 0.8rem;
    color: grey;
}
