.error-title {
    text-shadow: 0 2px #009c9485, 0 -2px #d36a4573;
    text-align: center;
    margin-top: 10%;
}

.link-button {
    background: linear-gradient(142deg, rgb(0, 156, 148) 0%, rgba(0, 156, 148, 0.8) 100%);
    border-radius: 20px;
    padding: 10px;
    color: white !important;
    border: 0px;
}
.link-button:hover {
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}

.language-indicator {
    background: #2d2d2d !important;
}

@media(min-width: 769px) {
    .navbar-burger-custom {
        margin-top: 1rem;
    }
}