{% load static %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}Individual Report{% endblock %}</title>

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'digital_meal/img/DigitalMeal_favicon.svg' %}">

  {% block site_css %}
  <link rel="stylesheet" href="{% static 'digital_meal/css/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'digital_meal/css/base.css' %}">
  {% endblock site_css %}

  {% block extra_head %}
  {% endblock extra_head %}
</head>

{% load static %}

<body>
<div id="report">

  <div class="report-section position-relative" style="padding-bottom: 200px; padding-top: 25px;">

    <div class="report-content container">
      <div class="text-end row">
        <div class="col">
          <img alt="Digital Meal Logo" src="{% static 'digital_meal/img/DigitalMeal_Logo.svg' %}" height="70px">
          <img alt="Data Donation Lab Logo" src="{% static 'digital_meal/img/ddl_logo_black.svg' %}" height="70px">
          <img alt="UZH Logo" src="{% static 'digital_meal/img/UZH_logo.svg' %}" height="70px">
        </div>
      </div>

      <div class="row">
        <div class="row">
          <h1 class="mt-5 pb-3 col col-lg-6">Deine personalisierte Auswertung deiner YouTube-Nutzung</h1>
        </div>

        <div class="row d-flex flex-row">
          <div class="pt-3 col col-lg-4">
            <img alt="Symbolbild YouTube" src="{% static 'digital_meal/img/yt_symbol.png' %}" height="180px">
          </div>
          <div class="col col-lg-6 text-end">
            <p>In dieser persönlichen Auswertung findest Du Informationen, wie Du YouTube in der Vergangenheit genutzt hast.
              Die von Dir hochgeladenen Daten beinhalten <b>Deinen Wiedergabeverlauf</b> und <b>Deinen Suchverlauf</b>
              zwischen dem {{ date_first|date:"j.\&\\n\b\s\p\;F\&\\n\b\s\p\;Y"|safe }} und dem {{ date_last|date:"j.\&\\n\b\s\p\;F\&\\n\b\s\p\;Y"|safe }}.
            </p>
            <p>
              Scrolle nach unten, um mehr zu Deiner Nutzung zu erfahren.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- YEARLY USE -->
  {% if dates_plot %}
  <div class="section-container">

    <div class="position-relative">
      <div class="custom-shape-divider-bottom-1691418846">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path>
        </svg>
      </div>
    </div>

    <div class="report-section flash-yellow-background position-relative">
      <div class="report-content">
        <h2>Deine Nutzung im Jahresverlauf</h2>
        <div>
          <p>
            Seit dem {{ date_first }} hast Du Dir <b class="font-size-highlight" style="color: #465ad9">insgesamt {{ n_videos_total }} Videos angesehen</b>.
            Das macht <b class="font-size-highlight" style="color: #465ad9">durchschnittlich {{ n_videos_mean }} Videos pro Tag</b>.
          </p>
          <p>In der Grafik unten wird die Anzahl Videos dargestellt, die Du Dir pro Tag angesehen hast.</p>
        </div>
        <div class="d-flex justify-content-center">{{ dates_plot.div | safe }}</div>
      </div>
    </div>

  </div>
  {% endif %}


  <!-- DAILY USE -->
  {% if weekday_use_plot %}
  <div class="section-container">

    <div class="position-relative">
      <div class="custom-shape-divider-bottom-1691418846">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill" style="fill: #D0C3FF"></path>
        </svg>
      </div>
    </div>

    <div class="report-section" style="background: #D0C3FF">
      <div class="report-content d-flex flex-row">
        <div class="pe-5">
          <h2>Deine Nutzung im Tagesverlauf</h2>
          <p class="text-start">
            Nutzer von Social-Media-Plattformen zeigen ganz unterschiedliche Nutzungsverhalten.
            Die folgenden Grafiken zeigen, wie sich deine Youtube-Nutzung über die Zeit verteilt.
          </p>
          <p class="text-start">
            Oben siehst du, wie sich deine Nutzung prozentual auf die Wochentage verteilt.
            Unten siehst du deine Nutzung pro Tag pro Stunde.
            <b style="border-bottom: 2px solid #ffda3c; background: #ffda3c; padding-left: 5px; padding-right: 5px;">Je dunkler das Feld, desto höher war deine Nutzung in dieser Zeitperiode.</b>
          </p>
        </div>
        <div class="detailed-use-plot">
          <div class="d-flex justify-content-center">{{ weekday_use_plot.div | safe }}</div>
          <div class="d-flex justify-content-center">{{ hours_plot.div | safe }}</div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}


  <!-- FAVORITE VIDEO -->
  {% if fav_video.n_watched > 1 %}
  <div class="section-container">

    <div class="position-relative">
      <div class="custom-shape-divider-bottom-1691418846">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill" style="fill: #5CDB95"></path>
        </svg>
      </div>
    </div>

    <div class="report-section section-green-background overflow-hidden">

        <div class="report-content d-flex flex-row pb-5 align-content-stretch pt-5">
          <div class="ps-5 pe-5 flex-grow-1 d-flex flex-column justify-content-center align-items-center">
            <h2>Dein Lieblingsvideo</h2>
            <p class="text-center">
              Dein Lieblingsvideo<br><b class="font-size-highlight" style="color: #001310; background: #d0c3ff; padding-left: 15px; padding-right: 10px;">{{ fav_video.title }}</b><br>hast du dir <b class="font-size-highlight" style="color: #001310; border-bottom: 3px solid #d0c3ff;">{{ fav_video.n_watched }} mal</b> angesehen.
            </p>
          </div>

          <div class="ps-5 pe-5 flex-grow-1 d-flex justify-content-center align-items-center fav-video-teaser">
            <div style="background-color: #001310; padding: 20px; transform: rotate(135deg);">
              <div style="background-color: #389583; padding: 20px; transform: rotate(15deg);">
                <div style="background-color: #8de4af; padding: 20px; transform: rotate(195deg);">
                  <img src="https://i.ytimg.com/vi/{{ fav_video.id }}/mqdefault.jpg" height="300px;" style="padding: 20px; transform: rotate(15deg);">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
  {% endif %}


  <!-- CHANNELS -->
  {% if channel_plot %}
  <div class="section-container">

    <div class="position-relative">
      <div class="custom-shape-divider-bottom-1691418846">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill" style="fill: #e83e3e"></path>
        </svg>
      </div>
    </div>

    <div class="report-section" style="background-color: #e83e3e">
      <div class="report-content" style="color: white">
        <h2>Deine meist geschauten YouTube Kanäle</h2>

        <div>
          <p>
            <span style="background: #1f2833; color: white; padding-left: 5px; padding-right: 5px;">Du hast dir Videos von <b class="font-size-highlight" style="color: #1f2833; background: white; padding-left: 5px; padding-right: 5px;">{{ n_distinct_channels }}</b> verschiedenen <b class="font-size-highlight" style="color: #1f2833; background: white; padding-left: 5px; padding-right: 5px;">YouTube
            Kanälen</b> angeschaut.</span>
          </p>
          <p>
            <span style="background: #1f2833; color: white; padding-left: 5px; padding-right: 5px;">In dieser Grafik siehst du die 20 Kanäle, von welchen du dir am meisten
            Videos angesehen hast.</span>
          </p>
        </div>
        <div class="d-flex justify-content-center pt-5">{{ channel_plot.div | safe }}</div>
      </div>
    </div>
  </div>
  {% endif %}


  <!-- SEARCHES -->
  {% if n_searches > 0 %}
  <div class="section-container">
    <div class="position-relative">
      <div class="custom-shape-divider-bottom-1691418846">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill" style="fill: #1F2833"></path>
        </svg>
      </div>
    </div>

    <div class="report-section" style="background: #1F2833; color: white">
      <div class="report-content">
        <h2>Nach was Du gesucht hast</h2>

        <p>
          <span class="font-size-highlight searchbar-font" style="margin-left: 5px; color: #1f2833; border: 1px solid #d2d2d2;  background: white; border-top-left-radius: 40px; border-bottom-left-radius: 40px; padding: 5px 40px 5px 20px;"><b>Du hast insgesamt <span style="border-bottom: 3px solid #66fcf1;">{{ n_searches }} Suchen</span> durchgeführt</b></span><span class="font-size-highlight searchbar-font" style="margin-right: 5px; background: #f8f8f8; border-top-right-radius: 40px; border-bottom-right-radius: 40px; border: 1px solid #d2d2d2;padding: 5px 22px 5px 20px;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" style="color: #393939;margin-bottom: 5px;">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg></span>
        </p>
        <p>
          Die Daten, die du hochgeladen hast beinhalten deinen Suchverlauf seit dem {{ date_first_search|date:"j. F Y" }}. Deine am häufigsten verwendeten Suchbegriffe sind:
        </p>

        <div class="d-flex justify-content-center pt-3">
          {{ search_plot.div | safe }}
        </div>
      </div>
    </div>
  </div>
  {% endif %}


  <!-- INTERACTIONS -->
  <div class="section-container">
    <div class="position-relative">
      <div class="custom-shape-divider-bottom-1691418846">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill" style="fill: #D6E297"></path>
        </svg>
      </div>
    </div>

    <div class="report-section background-lightgreen">
      <div class="report-content">
        <h2>Deine Interaktionen</h2>

        <p>
          Die Daten, die du hochgeladen hast, beinhalten auch Informationen dazu, welche Videos du gelikt hast.
          Insgesamt hast du {{ n_videos_liked }} Videos gelikt, das heisst du hast 12.587% der Videos die du dir angeschaut hast gelikt.
        </p>

        <p>
          Unten siehst du vier Beispiele von Videos, denen du irgendwann einen Like gegeben hast.
        </p>
      </div>
    </div>
  </div>


  <!-- TOPICS -->
  <div class="section-container">

    <div class="position-relative">
      <div class="custom-shape-divider-bottom-1691418846">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill" style="fill: #ffffff"></path>
        </svg>
      </div>
    </div>

    <div class="report-section">
      <div class="report-content">
        <h3>Über diesen Report</h3>

        <p>
          Dieser Report wurde automatisch basierend auf deinen hochgeladenen Daten generiert. Er ist für eine befristete
          Zeit für Personen, die über den Link verfügen, abrufbar.
          Wenn du diesen Report später nochmals ansehen möchtest, kannst du ihn als PDF speichern.
        </p>

        <p>
          <b>Digital Meal</b> und das <b>Data Donation Lab</b> sind Initiativen von Forschenden der Universität Zürich.
          Wir legen grossen Wert auf die Sicherheit Ihrer Daten. In diesem Report sind grösstenteils aggregierte und vereinzelt
          explizite Werte integriert, die aber keinen Rückschluss auf Dich als Person zulassen.
        </p>

        <p>
          Bei Fragen oder Inputs kannst du uns jederzeit mit einer E-Mail an <a href="mailto:datadonation@ikmz.uzh.ch">datadonation@ikmz.uzh.ch</a> kontaktieren.
        </p>

        <div class="text-center">
          <img alt="Digital Meal Logo" src="{% static 'digital_meal/img/DigitalMeal_Logo.svg' %}" height="70px">
          <img alt="Data Donation Lab Logo" src="{% static 'digital_meal/img/ddl_logo_black.svg' %}" height="70px">
          <img alt="UZH Logo" src="{% static 'digital_meal/img/UZH_logo.svg' %}" height="70px">
        </div>
      </div>
    </div>

  </div>

</div>


<script src="{% static 'digital_meal/js/jquery/jquery-3.6.2.min.js' %}"></script>
<script src="{% static 'digital_meal/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'digital_meal/js/bokeh/bokeh-3.1.1.min.js' %}"></script>
{{ dates_plot.script | safe }}
{{ weekday_use_plot.script | safe }}
{{ hours_plot.script | safe }}
{{ channel_plot.script | safe }}
{{ search_plot.script | safe }}

</body>

</html>
