{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Data Donation Lab | Scientifica 2023</title>
  <meta name="description" content="This is the Digital Meal website.">

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'ddl/img/favicons/ddl_favicon_black.svg' %}">

  {% block site_css %}
  <link rel="stylesheet" href="{% static 'digital_meal/css/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'digital_meal/css/base.css' %}">
  {% endblock site_css %}

  {% block extra_head %}
  {% endblock extra_head %}
</head>

<body>
<div class="container mt-5 mb-5">
  <div class="row">
    <h1>Willkommen am Scientifica Stand des Data Donation Labs</h1>
    <p>
      Bei der Nutzung von digitalen Diensten und Geräten wie bspw. der Google
      Suchmaschine, Social Media Plattformen wie Instagram oder TikTok,
      Videoplattformen wie YouTube, oder Fitnesstracker wie FitBit oder
      Garmin-Uhren generieren wir täglich jede Menge Daten zu unserem
      persönlichen Verhalten.
    </p>
    <p>
      Diese Daten sind ein wertvolles Gut. Meist können sie jedoch nur die
      Unternehmen nutzen, die sie erheben. Damit aus den Daten auch
      wissenschaftliche Erkenntnisse zum Nutzen der Gesellschaft gezogen werden
      können, ist die Forschung auf Datenspenden von Bürgerinnen und Bürgern
      angewiesen.
    </p>
  </div>
  <div class="row pt-4">
    <h2>Was ist eine Datenspende</h2>
    <p>Eine Datenspende besteht aus 3 einfachen Schritten:</p>
    <div class="col-md-4 text-center">
      <div>
        <img alt="Datenspende Schritt 1" src="{% static 'digital_meal/img/Step1.svg' %}" height="150px">
      </div>
      <div class="p-3">
        Fordern Sie Ihre persönlichen Daten an, die ein Unternehmen (bspw. Google)
        über Sie gesammelt hat. Dies ist üblicherweise einfach über eine Webseite möglich.
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div>
        <img alt="Datenspende Schritt 2" src="{% static 'digital_meal/img/Step2.svg' %}" height="150px">
      </div>
      <div class="p-3">
        Wenn Sie Ihre Daten erhalten haben, können Sie diese auf einer Webseite
      der Universität Zürich hochladen. Beim Hochladen werden Ihre Daten
      automatisch anonymisiert und nur diejenigen Informationen behalten,
      die für ein Forschungsprojekt relevant sind.
        </div>
    </div>
    <div class="col-md-4 text-center">
      <div>
        <img alt="Datenspende Schritt 3" src="{% static 'digital_meal/img/Step3.svg' %}" height="150px">
      </div>
      <div class="p-3">
        Nach der Bereinigung Ihrer Daten können Sie überprüfen, welche
        Informationen genau an die Forschenden übermittelt werden sollen und
        entscheiden, ob Sie Ihre Daten spenden möchten.
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <h2>Spenden Sie Ihre Daten jetzt</h2>
    <p>
      Sie haben die Möglichkeit, hier direkt an einem Datenspende-Projekt
      teilzunehmen, mehr darüber herauszufinden welche Daten Google oder FitBit über Sie
      gespeichert hat und gleichzeitig die Forschung zu unterstützen.
      Dazu haben Sie die Wahl zwischen zwei Projekten:
    </p>

    <div class="row pb-4">
      <div class="col-md-4 text-center">
        <img alt="Digital Meal Brand" src="{% static 'digital_meal/img/DigitalMeal_Logo.svg' %}" height="100px">
      </div>
      <div class="col-md-8">
        <p>
          <b>Digital Meal:</b> Beantragen Sie Ihre <b>YouTube-Nutzungsdaten</b>, erfahren Sie
          mehr über Ihre persönliche Mediennutzung und
          helfen Sie der Wissenschaft den Medienkonsum der Bevölkerung besser zu
          verstehen.
        </p>
        <p>
          Um bei der Studie mitmachen zu können, benötigen Sie einen YouTube- bzw.
          Google Account.
        </p>
      </div>

      <div class="col-md-4 text-center"><a href="{{ ddm_url }}studies/yt-example/briefing/" class="btn btn-secondary">Hier geht's zur Studie</a></div>

    </div>
    <hr>

    <div class="row pb-4">
      <div class="col-md-4 text-center">
        <img alt="Digital Meal Brand" src="{% static 'digital_meal/img/Steps.png' %}" height="100px">
      </div>
      <div class="col-md-8">
        <p>
          <b>«Wie geht’s?»:</b> Wie viele Schritte machen Sie täglich? Wie lange schlafen
          Sie? Aktivitätstracker messen viele gesundheitsrelevante Informationen.
          Eine einmalige, anonyme Spende ihrer <b>Fitbit-Daten</b> der letzten 30 Tage
          hilft uns, Durchschnittswerte und Muster von Schlaf und Bewegung in der
          Bevölkerung besser zu verstehen.
        </p>
        <p>
          Um bei der Studie mitmachen zu können, benötigen Sie einen FitBit- bzw.
          Google Account.
        </p>
      </div>

      <div class="col-md-4 text-center"><a href="https://ww3.unipark.de/uc/Division_UseAndEffects/33a5/" class="btn btn-success" style="color: white !important;">Hier geht's zur Studie</a></div>

    </div>

  </div>
</div>

{% block site_js %}
<script src="{% static 'digital_meal/js/jquery/jquery-3.6.2.min.js' %}"></script>
<script src="{% static 'digital_meal/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
{% endblock site_js %}

</body>

</html>
