{% load djangocms_blog i18n easy_thumbnails_tags cms_tags %}


<div id="post-{{ post.slug }}" class="post-item post-info">
    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>

    {% if post.subtitle %}
    <h3>{{ post.subtitle }}</h3>
    {% endif %}

    {% include "mainpage/blog/includes/blog_meta.html" %}

    <div class="blog-lead">
        {% if not TRUNCWORDS_COUNT %}
        {% render_model post "abstract" "" "" "safe" %}
        {% else %}
        {% render_model post "abstract" "" "" "truncatewords_html:TRUNCWORDS_COUNT|safe"  %}
        {% endif %}
    </div>

    <div class="read-more">
        <a href="{{ post.get_absolute_url }}">{% trans "Read more" %} →</a>
    </div>

</div>
