{% load i18n easy_thumbnails_tags cms_tags %}

<div class="blog-post-attr">
    <p class="post-date-author">
        {% if post.author %}<span class="news-author">{% if post.author.get_full_name %}{{ post.author.get_full_name }}{% else %}{{ post.author }}{% endif %}</span>{% endif %}{% if post.date_published %}&nbsp;&nbsp;•&nbsp;&nbsp;{{ post.date_published|date:"F Y" }}{% endif %}
    </p>
    {% if post.date_featured %}
    <p>
        {{ post.date_featured|date:"DATE_FORMAT" }}
    </p>
    {% endif %}
    <div class="blog-tags">
        {% if post.categories.exists %}
            {% for category in post.categories.all %}
                {% if category.slug %}
                    <span class="blog-tag category_{{ forloop.counter }}"><a href="{% url 'djangocms_blog:posts-category' category=category.slug %}" class="blog-categories-{{ category.count }}">{{ category.name }}</a>{% if not forloop.last %}{% endif %}</span>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if post.tags.exists %}
        &nbsp;|&nbsp;
            {% for tag in post.tags.all %}
                <span class="blog-tag tag_{{ forloop.counter }}"><a href="{% url 'djangocms_blog:posts-tagged' tag=tag.slug %}" class="blog-tag blog-tag-{{ tag.count }}">{{ tag.name }}</a>{% if not forloop.last %}{% endif %}</span>
            {% endfor %}
        {% endif %}
    </div>
</div>
