{% extends "mainpage/cms/cms_base.html" %}
{% load static i18n cms_tags menu_tags sekizai_tags %}

{% block main_content %}

<div class="container">
    <div class="columns">
        <div class="column is-3-tablet is-one-fifth-desktop">
            <div class="side-menu-container">
                <ul>
                    {% show_sub_menu 100 0 100 "mainpage/navigation/cms_side_menu.html" %}
                </ul>
            </div>
        </div>
        <div class="column info-content has-text-black">
            {% placeholder "content" %}
        </div>
    </div>
</div>

{% endblock main_content %}
