{% extends "ddl/base.html" %}

{% load wagtailcore_tags %}

{% block main_content %}

<div class="container">
  <div class="columns">
    <div class="column is-1-tablet is-hidden-desktop-only is-2-fullhd"></div>
    <div class="column content has-text-black">
      {% for block in page.body %}

      {% if block.block_type == "heading" %}
      <h1>{{ block.value }}</h1>
      {% elif block.block_type == "paragraph" %}
      <div class="paragraph-block content">
        {{ block.value }}
      </div>
      {% elif block.block_type == "list" %}
      <div class="list-block">
        {% include_block block %}
      </div>
      {% elif block.block_type == "image" %}
      {% elif block.block_type == "highlight" %}
      {% include_block block %}
      {% elif block.block_type == "button_link" %}
      {% include_block block %}
      {% endif %}

      {% endfor %}
    </div>
    <div class="column is-1-tablet is-hidden-desktop-only is-2-fullhd"></div>
  </div>
</div>

{% endblock %}