{% extends "ddl/base.html" %}

{% load wagtailcore_tags %}

{% block main_content %}

<div class="container">
  <div class="columns">
    <div class="column is-1-tablet is-hidden-desktop-only is-2-fullhd"></div>
    <div class="column content has-text-black">
      {% for block in page.body_top %}

      {% if block.block_type == "heading" %}
      <h1>{{ block.value }}</h1>
      {% elif block.block_type == "paragraph" %}
      <div class="paragraph-block content">
        {{ block.value }}
      </div>
      {% elif block.block_type == "list" %}
      <div class="list-block">
        {% include_block block %}
      </div>
      {% elif block.block_type == "image" %}
      {% elif block.block_type == "highlight" %}
      {% include_block block %}
      {% endif %}

      {% endfor %}


      {% if page.include_news %}
      <section class="blog-list">
        <div class="blog-items columns is-flex-wrap-wrap is-justify-content-space-around">
        {% for post in blog_posts|slice:":4" %}

        <div id="post-{{ post.pk }}" class="post-item post-info is-5 column">
          <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
          {% if post.subtitle %}
          <h3>{{ post.subtitle }}</h3>
          {% endif %}
          <div class="blog-lead">
            {{ post.teaser|richtext }}
          </div>
          <div class="read-more">
            <a href="{% pageurl post %}">Read more →</a>
          </div>
        </div>
        {% empty %}
        <p class="blog-empty">No articles found.</p>

        {% endfor %}
        </div>
      </section>
      {% endif %}


      {% for block in page.body_bottom %}

      {% if block.block_type == "heading" %}
      <h1>{{ block.value }}</h1>
      {% elif block.block_type == "paragraph" %}
      <div class="paragraph-block content">
        {{ block.value }}
      </div>
      {% elif block.block_type == "list" %}
      <div class="list-block">
        {% include_block block %}
      </div>
      {% elif block.block_type == "image" %}
      {% elif block.block_type == "highlight" %}
      {% include_block block %}
      {% endif %}

      {% endfor %}
    </div>
    <div class="column is-1-tablet is-hidden-desktop-only is-2-fullhd"></div>
  </div>
</div>

{% endblock %}
