{% extends "ddl/base.html" %}

{% load static %}

{% block title %}Studie Videoplattformen{% endblock %}

{% block main_content %}

<div class="container">
  <div class="columns">
    <div class="column is-1-tablet is-hidden-desktop-only is-2-fullhd"></div>
    <div class="column content has-text-black">
      <h1>Willkommen zur Studie «Videoplattformen: Nutzungsmuster & Gesundheitsverhalten»</h1>
      <p>
        Vielen Dank für Ihr Interesse an dieser Studie, die von Forschenden der Universität Zürich durchgeführt wird.
        Sie wurden von einer befreundeten Person zu dieser Studie eingeladen, die ebenfalls bereits erfolgreich an der Studie teilgenommen hat.
      </p>
      <h3>Ziel der Studie</h3>
      <p>
        Das Ziel dieser Studie ist es, mehr darüber zu erfahren, wie Tabak- und Alkoholkonsum mit gesehenen Inhalten auf Videoplattformen zusammenhängt und wie Freundschaftsbeziehungen die Nutzung von Videoplattformen beeinflussen.
        Dafür suchen wir Zweiergruppen bestehend aus zwei Freunden, die beide bereit sind, einen Fragebogen auszufüllen und ihre YouTube- und TikTok-Nutzungsdaten mit uns zu teilen.
      </p>

      <h3>Ablauf</h3>
      <p>
        Zu Beginn der Studie werden Sie einige allgemeine Fragen beantworten, um festzustellen, ob Sie die Voraussetzungen zur Studienteilnahme erfüllen. Wenn ja, besteht die Studie für Sie anschliessend aus zwei Teilen:
      </p>

      <p>
        <b>Teil 1:</b> Sie fordern Ihre YouTube-Daten an und spenden die anonymisierten Daten an uns. Anschliessend beantworten Sie einige Fragen zu Ihrer YouTube-Nutzung (15 Minuten).
      </p>

      <p>
        <b>Teil 2:</b> Sie fordern Ihre TikTok-Daten an, warten einige Stunden und spenden die anonymisierten Daten danach an uns. Anschliessend beantworten Sie einige Frage zur Ihrer TikTok-Nutzung und Ihrem Gesundheitsverhalten (aktiv: 15 Minuten).
      </p>

      <p>
        Das Anfordern und Spenden Ihrer Daten geht dabei ganz einfach und wir werden Sie Schritt für Schritt durch den Prozess führen. Vor der Übermittlung Ihrer Daten haben Sie die Möglichkeit, Ihre Daten nochmals genau zu inspizieren.
        Basierend darauf können Sie dann eine finale Entscheidung treffen, ob Sie Ihre Daten spenden möchten oder lieber nicht .
      </p>

      <img src="{% static 'ddl/img/VP_ablauf_invited.png' %}" height="250px">

      <h3>Vergütung für Ihre Teilnahme</h3>
      <p>
        Als Vergütung für Ihre Teilnahme an unserer Studie erhalten Sie <b>für jeden erfolgreich abgeschlossenen Teil einen Digitec/Galaxus Gutschein im Wert von 10 CHF</b>.
        Die Gutscheine werden jeweils montags per E-Mail versendet.
      </p>


      <h3>Teilnahmevoraussetzungen</h3>
      <p>
        Für die Teilnahme an der Studie müssen Sie die folgenden Voraussetzungen erfüllen:
      </p>
      <ul>
        <li>Sie sind volljährig und in der Schweiz wohnhaft.</li>
        <li>Sie nutzen YouTube und/oder TikTok regelmässig mit einem persönlichen User-Account.</li>
        <li>Sie sind bereit Ihre YouTube- und TikTok-Nutzungsdaten mit uns anonymisiert zu teilen.</li>
      </ul>

      <h3>Kontakt</h3>
      <p>
        Die Studie wird von Forschenden der Universität Zürich unter der Leitung von Prof. Dr. Thomas Friemel durchgeführt.
        Falls Sie Fragen oder Anmerkungen zu der Studie haben, wenden Sie sich per E-Mail an <a href="mailto:datadonation@ikmz.uzh.ch">datadonation@ikmz.uzh.ch</a>.
      </p>

      <h3>Einverständniserklärung</h3>
      <p>
        Ihre Teilnahme an dieser Studie ist freiwillig und Sie können die Teilnahme jederzeit abbrechen. Alle Ihre Angaben werden streng vertraulich behandelt und anonym ausgewertet. Ihre Daten werden ausschliesslich zu wissenschaftlichen Zwecken verwendet und werden auf Servern der Universität Zürich gespeichert.
        Die Teilnahme an dieser Studie birgt keine über die normale Internetnutzung hinausgehenden Risiken für Sie.
      </p>
      <p>
        Mit einem Klick auf <b>Weiter</b> erklären Sie, dass Sie die Studieninformationen gelesen haben und dass Sie freiwillig an dieser Studie teilnehmen.
        Falls Sie nicht weiter an der Studie teilnehmen möchten, können Sie das unten entsprechend angeben.
      </p>

      <div style="padding-top:20px;">
        <p><a style="border-radius: 5px; background: green; padding: 10px; color: white;" href="https://rq3281.customervoice360.com/uc/vp-1/?{% for key, value in request.GET.items %}{{ key }}={{ value|urlencode }}&{% endfor %}b=0"><b>Weiter</b> - Ich habe die Informationen gelesen und möchte an der Studie teilnehmen</a></p> <!-- Codes: Ad-Type / Agree: 0/1 -->
        <p><a style="border-radius: 5px; background: grey; padding: 10px; color: white;" href="https://rq3281.customervoice360.com/uc/vp-1/?{% for key, value in request.GET.items %}{{ key }}={{ value|urlencode }}&{% endfor %}b=0">Ich möchte <b>nicht</b> teilnehmen</a></p> <!-- Codes: Ad-Type / Agree: 0/1 -->
      </div>

    </div>
    <div class="column is-1-tablet is-hidden-desktop-only is-2-fullhd"></div>
  </div>
</div>

{% endblock %}
