.lang-selection,
.lang-selection:hover {
    font-size: 0.8rem;
    color: white;
    padding-top: 2px;
}

.footer-text {
    text-align: center;
    font-size: 0.8rem;
}

.blog-post-single > h1 {
    padding-left: 30px !important;
    margin-bottom: 0px;
}
.blog-post-single > h2 {
    margin-top: 0px !important;
}
.blog-post-single ol,
.blog-post-single ul {
    padding-left: 30px !important;
}

.blog-post-meta {
    padding-left: 30px;
}

.cms-form {
    padding-left: 30px;
}

.cms-form input,
.cms-form textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid #dbdbdb;
}
.cms-form input:focus,
.cms-form textarea:focus {
    outline: none;
    border-color: #d36a45;
    box-shadow: 0 0 0 0.125em rgba(211, 106, 69, 0.25);
}
.cms-form input[type="submit"] {
    width: auto;
    cursor: pointer;
}
.cms-form textarea {
    width: 100%;
}
.cms-form .helptext {
    font-size: 0.8rem;
    color: grey;
}