{% load static wagtail_snippets %}

<div class="columns is-vcentered">
    <div class="column">

    </div>
</div>

<div class="columns is-vcentered">
    <div class="column level-item">
        <a href="https://www.uzh.ch" target="_blank">
            <img src="{% static "ddl/img/logos/external/uzh_logo_e_neg.svg" %}"
                  alt="UZH Brand">
        </a>
    </div>

    <div class="column">
        <a href="https://www.dsi.uzh.ch" target="_blank">
            <img src="{% static "ddl/img/logos/external/dsi_name_brand.svg" %}"
                  alt="DSI Brand">
        </a>
    </div>

    <div class="column">
        <a href="https://www.dizh.ch" target="_blank">
            <img class="img-restricted"
                  src="{% static "ddl/img/logos/external/dizh_logo.png" %}"
                  alt="DIZH Brand">
        </a>
    </div>
</div>

<div class="columns is-vcentered">
    <div class="column footer-text">
        <p><small><span style="color:#dddddd; font-size:0.7rem">&copy; 2025 Data
                    Donation Lab&nbsp;&nbsp;|&nbsp;&nbsp;<a
                          href="https://datadonation.uzh.ch/en/contact/">Contact/Imprint</a>&nbsp;
                    |&nbsp;&nbsp;<a
                          href="https://datadonation.uzh.ch/en/newsletter/">Newsletter</a>&nbsp;
                    |&nbsp;&nbsp;<a
                          href="https://datadonation.uzh.ch/en/data-protection-statement/">Data
                        Protection Statement&nbsp;</a></span></small></p>
    </div>
</div>