{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="This is the official website of the Data Donation Lab.">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'mainpage/img/favicons/ddl_favicon_black.svg' %}">

    {% block site_css %}
    <link rel="stylesheet" href="{% static 'mainpage/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'mainpage/css/custom.css' %}">
    {% endblock site_css %}

    {% block extra_head %}
    {% endblock extra_head %}
  </head>

  <body>
    <div class="body_wrapper">
      <div id="header">
        {% block header_content %}
        <div class="container has-text-centered pl-6 pr-6">
          {% include "mainpage/navigation/cms_nav.html" %}
        </div>
        {% endblock header_content %}
      </div>

      <div id="main">
        {% block main_content %}
        {% endblock main_content %}
      </div>

      <div id="footer">
        {% block footer_content %}
        <div class="container has-text-centered">
          {% include "mainpage/footer/cms_footer.html" %}
        </div>
        {% endblock footer_content %}
      </div>
    </div>

    {% block site_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{% static 'mainpage/js/base.js' %}"></script>
    {% endblock site_js %}
  </body>

</html>
