{% load wagtailcore_tags wagtailimages_tags %}

{% image value.background original as img %}
<p>{{ tmp_photo.full_url }}</p>
<div class="columns highlight-section is-vcentered">

  {% if value.alignment == 'left' %}
  <div class="column highlight-title highlight-title-left" style="background: url({% if img %}'{{ img.full_url }}'{% endif %});">
    <h2>{{ value.title|richtext }}</h2>
  </div>
  <div class="column highlight-body highlight-body-right">
    <p>{{ value.text|richtext }}</p>
  </div>

  {% elif value.alignment == 'right' %}
  <div class="column highlight-title highlight-title-right is-hidden-tablet" style="background: url({% if img %}'{{ img.full_url }}'{% endif %});">
    <h2>{{ value.title|richtext }}</h2>
  </div>
  <div class="column highlight-body highlight-body-left">
    <p>{{ value.text|richtext }}</p>
  </div>
  <div class="column highlight-title highlight-title-right is-hidden-mobile" style="background: url({% if img %}'{{ img.full_url }}'{% endif %});">
    <h2>{{ value.title|richtext }}</h2>
  </div>
  {% endif %}

</div>
